<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>天气查询</title>
    <script type="application/javascript" src="js/jquery.min.js"></script>
    <script type="application/javascript" src="js/weather.js"></script>

</head>
<body>
<div>
    <div id="province" style="float: left">

    </div>

    <div id="city" style="float: left">
    </div>

    <button id="search" onclick="search()" style="float: left">查询</button>
</div>

    <div id="result">

    </div>
</body>
</html>